<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="#">LOGO</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li id="home"><a href="/">HOME</a></li>
        <li id="authors"><a href="/author">AUTHORS</a></li>
        <li id="posts"><a href="/article">ARTICLES</a></li>
        <li id="categories"><a href="/category">CATEGORIES</a></li>
        <li id="comments"><a href="/category">COMMENTS</a></li>
      </ul>
    </div>
  </div>
</nav>